

.btn-purple{
    background-color: #2c004f;
    /* color: white; */
}
.btn-purple:hover, .btn-purple:focus {
  background-color: rgba(44, 0, 79, 0.7);
  transition: background-color 0.2s;
}


html, body, #root {
  height: 100%;
  overscroll-behavior: contain; /* prevent bounce/overscroll effect */
  background: #20003a; /* or your page background color */
  overflow-x: hidden; /* prevent horizontal scroll */
}

body {
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
}

.page-container {
  flex: 1 0 auto; /* grow and shrink to fill viewport */
  display: flex;
  flex-direction: column;
}
