

.btn-purple{
    background-color: #2c004f;
    /* color: white; */
}
.btn-purple:hover, .btn-purple:focus {
  background-color: rgba(44, 0, 79, 0.7);
  transition: background-color 0.2s;
}


html, body, #root {
  height: 100%;
  overscroll-behavior: contain;
  background: #20003a;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
}

.page-container {
  flex: 1 0 auto; /* grow and shrink to fill viewport */
  display: flex;
  flex-direction: column;
}
